.hero-container {
  background-color: #f2f2f2;
  padding: 40px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-text {
  text-align: center;
  padding: 0 20px;
}

.hero-text h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero-text p {
  font-size: 16px;
  margin-bottom: 15px;
}

.hero-image img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 20px;
}

.reserve-button {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #555;
}

/* Add a media query for larger screens */
@media (min-width: 768px) {
  .hero-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-even;
  }

  .hero-text {
    text-align: left;
    max-width: 400px; /* Adjust as needed */
    margin-right: 40px;
  }

  .hero-image img {
    margin-top: 0;
  }
}

