.reservation-form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Take up all available space */
    height: 100%;
    margin: auto;
    padding: 20px;
    background-color: #EDEFEE;
    border-radius: 8px;
    box-sizing: border-box; /* Include padding and border in the width */
  }
  
  .time-options {
    display: flex;
    margin: 0px 0px 10px 0px;
  }
  
  .time-option {
    padding: 8px;
    margin-right: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .time-option.selected {
    background-color: #3fa3b7; /* Change to the desired color */
    color: white;
  }
  
  .loading {
    font-weight: bold;
  }

  .reservation-form label {
    font-size: 16px;
    font-weight: bold;
    color: #495E57;
    margin-bottom: 8px;
  }
  
  .reservation-form input,
  .reservation-form select {
    padding: 8px;
    border-radius: 4px;
    margin-bottom: 12px;
  }
  
  .reservation-form input[type="submit"] {
    background-color: #495E57;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .form-title{
    margin: 30px;
    font-weight: bold;
    color: #495E57;
  }
  
  @media (max-width: 480px) {
    .reservation-form {
      max-width: 100%;
    }
  }
  
